@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&family=Roboto:wght@300&display=swap');
*{
    padding:0;
    margin: 0;
}
nav{
    background-color: rgb(77, 39, 110);
    color:white;
    height: 40px;
    display:flex;
    font-size:27px;
    padding: 0 12px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
ul{
    list-style-type:none;
}
.classcontainer{
    display:flex;
    background-color: white;
    margin-top: 50px;
    justify-content: center;
}
.container{
    padding:20px;
    display:grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
}

.box{
    border:2px solid black;
    font-size:8vw;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box:hover{
    background-color: rgb(228, 188, 195);
}
.infocontainer h1{
    font-size: 25px;
}
.infocontainer{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.imginfo img{
    width:0;
    transform: width is ease-in-out;
}
.bt-0{
    border-top: none;
}
.bb-0{
    border-bottom:none;
}
.bl-0{
    border-left:none;
}
.br-0{
    border-right:none;
}
#reset{
    padding-left: 2px;
    width: 120px;
    border-width: 3px solid black;
    border-radius: 7px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto Mono';
    background-color: rgb(185, 170, 200);
    cursor: pointer;

}
.info{
    font-size:17px ;
    font-weight: 600;
}
@media screen and (max-width: 800px)
{
    .classcontainer{
        flex-wrap: wrap;
    }
    .infocontainer{
        margin-top:34px;
    }
    .infocontainer h1{
        font-size: 17px;
    }
    .container{
        grid-template-rows: repeat(3,20vw);
        grid-template-columns:repeat(3,20vw)
    }
}
